version: '3.4'
services:
  php:
    user: ${FIXUID:-1000}:${FIXGID:-1000}
    build:
      context: ./docker
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      COMPOSER_HOME: /tmp/composer
    depends_on:
      - postgres

  postgres:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: app

  adminer:
    image: adminer:4.7
    links:
      - "postgres:db"
    ports:
      - "8080:8080"

  rabbitmq:
    image: 'rabbitmq:3.6-management-alpine'
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      AMQP_URL: 'amqp://rabbitmq?connection_attempts=5&retry_delay=5'
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
